body{

    background-color: #76b9ff;
    min-height: 100vh; 
    color: white;
    position: relative;
    padding-bottom: 3em; 
    min-height: 100vh;

}

    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

    * {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Binance PLEX";
}

    .header{

    background-color: #192f47;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;

}


    .header img:hover{

    transform: scale(1.06);

}


    .header img{

    cursor: pointer; 
    height: 115px;
    width: auto;
    transition: all 0.3s;

} 

    .mover-texto{

    margin-left: 40px;
    font-size: 18px;
    line-height: 1.6;
}

    nav p{

   margin-right: 20px;


    }

h2{
    margin-top: 25px;
    font-size: 3rem;


}
    p {
        margin-top: 5px;
    font-size: 2rem;
    line-height: 1.6

}


button
{
width: 10%;            
background-color: #192f47;
border: none;
padding: 10px;
margin-top: 26px;
margin-left: 40px;
border-radius: 7px;
cursor: pointer;
transform: scale(1.02);
transition: all 0.3s ease 0s;        



}

a button
{

color: rgb(255, 255, 255);
text-decoration: none;
font-size: 1.2rem;

}

 button:hover{

    background-color: rgb(11, 34, 61);
    transform: scale(1.03);
    
}







@media(max-width: 1000px){


    h2{      

        font-size: 2.4rem;
        
    }

    p {

        font-size: 1.6rem;
        line-height: 1.4

    }

}

@media(max-width: 800px){

    button{
        
            width: 12%;
            
          
    }
    a button {

        font-size: 0.9rem;

    }

    h2{      

        font-size: 2.2rem;
        margin-bottom: 25px;
    }

    p {
        
        font-size: 1.4rem;
        line-height: 1.4

    }

    #texto-nav{


    font-size: 1.2rem;

    }

}
 
@media(max-width: 500px){

    body{

        background-color: #76b9ff;

    }
    button{
        
        width: 15%;
        
      
}

h2{
    font-size: 1.8rem;
    margin-bottom: 25px;


}


    .texto{

        font-size: 0.8rem;

    }


p {

    font-size: 1rem;

}

    .header{

        background-color: #192f47;
        display: flex;
        justify-content: space-between;
        align-items:center;
        height: 150px;
        padding: 10px 20%;
    
    }

 

  
}